# python
*.py[cod]
*.swp

.DS_Store
.vscode/

# build
.gitconfig
.installed.cfg
.ropeproject/
./apis/ropeproject/
./__pycache__/
./apis/__pycache__/
apis/static/
.idea/
bin/
parts/
eggs/
build/
dist/
access.log*
error.log*
newrelic.ini

wxapp/local_config.js
apis/local_settings.py

# test
test_example.py
test_settings.py
